@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: "Space Grotesk", sans-serif;
}


/* agregue nuevo */



.font-headline {
  font-family: 'Space_Grotesk', sans-serif;
}
 .carbon-texture {
 background-image: linear-gradient(45deg, #121212 25%, transparent 25%), linear-gradient(-45deg, #121212 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #121212 75%), linear-gradient(-45deg, transparent 75%, #121212 75%);
 background-size: 4px 4px;
 }

.technical-grid {
  background-image: radial-gradient(#2a3733 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  opacity: 0.05;
 }
 .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
 }


.mechanical-border {
  border: 1px solid rgba(42, 55, 51, 0.15);
}

.engineering-grid {
  background-image: linear-gradient(rgba(70, 120, 121, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(70, 120, 121, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}




/* 🌞 LIGHT (luego lo llenamos) */
:root {
  --background: #ffffff;
  --on-surface: #000000;
  --primary: #e07322;
}

/* 🌙 DARK (TU DISEÑO) */
.dark {
  --background: #1b110b;
  --on-surface: #f4ded4;
  --primary: #ffb68b;

  --surface: #1b110b;
  --surface-container: #281d17;
  --surface-container-low: #241913;
  --surface-container-high: #332721;

  --on-surface-variant: #ddc1b2;

  --outline: #a58c7e;
}